<!-- inline css -->

<style>
  body {
    background-color: #E3E8EB }
    .quiz-container {
      height: 100vh;
      display: flex;
      align-items: space-between;
      flex-direction: column;
    }
    .card-quiz {
      width: 100%;
      background-color: white;
      padding-top: 12px;
      padding-bottom: 32px;
      padding-left: 12px;
      padding-right: 12px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between
    }
    .img-container {
      text-align: center;
    }

    h2 {
      color: #505050;
      margin: auto;
      margin-top: 12px;
      font-size: 24px;
      font-weight: bold;
      text-align: left;
       }
    h5 {
      color: white;
    }
    img {
      max-width: 140%;
      max-height: 100%;
       }
    .modal-body {
      background-color: white;
   /*   height: 100vh;*/

    }


            </style>




            <div class="quiz-container">
             <div class="progress">
              <div class="bar shadow clouds" style="width: <%= @question_progress_percentage %>%; transition-duration: 2s; margin-left: 0;"></div>

            </div>
            <div class="card-quiz">
              <div>
                <h2><%= @question.question_content %></h2>
              </div>

              <div>


                <div class="radio-tile-group">
                  <% @answers.each do |a| %>
                  <div class="input-container">
                    <input id="customRadio<%= a.id %>" class="radio-button" type="radio" name="radio" value="<%= a.correct %>"/>
                    <div class="radio-tile">
                      <label for="answer" class="radio-tile-label">
                        <% if a.correct %>
                        <% if @next_question %>
                        <%= link_to a.answer_content, level_question_path(@level, @next_question) %>
                        <% else %>
                        <%= link_to a.answer_content, level_increase_level_path(@level) %>
                        <% end %>
                        <% else %>
                        <%= link_to a.answer_content, '#' %>
                        <% end %>
                      </label>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div style="height: 10vh;">

              <div class="submit-answer wrong" style="display: none">
                <%= link_to "SUBMIT", "#", class: "btn btn-submit" %>
              </div>
              <div class="submit-answer right" style="display: none">

                <!-- check if question is correct and redirect accordingly -->
                <% if @next_question %>
                <%= link_to "SUBMIT", level_question_path(@level, @next_question), class: "btn btn-submit" %>
                <% else %>

                <!-- Button trigger modal -->
                <%= link_to "SUBMIT", level_increase_level_path(@level), class: "btn btn-submit", data: {toggle: "modal", target: "#open1"} %>

                <!-- Modal 1 -->
                <% end %>
              </div>



                  <!-- code for modals:  -->

                  <div class="modal fade modal-to-close" id="open1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height: 100vh;">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <div id="carouselExampleControls" class="carousel slide">
                            <div class="carousel-inner">



                              <div class="carousel-item active">
                                <div class="img-container">

                                <img src="https://cdn.dribbble.com/users/1061/screenshots/1914377/character-dribbble.gif" alt="">

                                </div>
                                <div>

                                  <h5>Nice work! You released your weekly allowance. Ask mom for it on Saturday</h5>

                                </div>
                                <div style="margin-top: 24px;">
                                 <%= link_to "CONTINUE", level_increase_level_path(@level), class: "btn button-yellow", style: "position:relative !important"%>

                                </div>
                                <!-- <a class="carousel-control-next btn btn-primary" href="#carouselExampleControls" role="button" data-slide="next" style="position:relative !important; width: 100%" > -->
                               <!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span> -->
                                </a>
                              </div>



                              <div class="carousel-item">
                                <h5>Nice work! You released your weekly allowance. Ask mom for it on Saturday</h5>


                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>





<script>
  const submitWrongButton = document.querySelector(".submit-answer.wrong")
  const submitRightButton = document.querySelector(".submit-answer.right")
  const answerButtons = document.querySelectorAll(".radio-button")

  answerButtons.forEach((button) => {
    button.addEventListener("click", () => {
      if (event.currentTarget.value == "false") {
        submitRightButton.style.display = "none"
        submitWrongButton.style.display = "block"
      } else {
        submitWrongButton.style.display = "none"
        submitRightButton.style.display = "block"
      }
    })
  })
</script>


                  <!-- JavaScript for Modals -->






