
<div class="quiz-container">
  <div>
    <h3><%= @question.question_content %></h3>
  </div>

  <div>


    <div class="radio-tile-group">
      <% @answers.each do |a| %>
      <div class="input-container">
        <input id="customRadio<%= a.id %>" class="radio-button" type="radio" name="radio" value="<%= a.correct %>"/>
        <div class="radio-tile">
          <label for="answer" class="radio-tile-label">
          <% if a.correct %>
            <% if @next_question %>
              <%= link_to a.answer_content, level_question_path(@level, @next_question) %>
            <% else %>
              <%= link_to a.answer_content, level_increase_level_path(@level) %>
            <% end %>
            <% else %>
              <%= link_to a.answer_content, '#' %>
            <% end %>
          </label>
        </div>
      </div>
      <% end %>
    </div>
    <div style="height: 10vh;">

      <div class="submit-answer wrong" style="display: none">
        <%= link_to "submit", "#", class: "btn btn-info btn-submit" %>
      </div>
      <div class="submit-answer right" style="display: none">

        <!-- check if question is correct and redirect accordingly -->
        <% if @next_question %>
          <%= link_to "submit", level_question_path(@level, @next_question), class: "btn btn-info btn-submit" %>
        <% else %>

          <!-- Button trigger modal -->
          <%= link_to "submit", level_increase_level_path(@level), class: "btn btn-info btn-submit", data: {toggle: "modal", target: "#open1"} %>

          <!-- Modal -->
          <div class="modal fade" id="open1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height: 100vh;">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Nice work! You released your weekly allowance. Ask mom for it on Saturday</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="https://ecdn.teacherspayteachers.com/thumbitem/Class-Dojo-Karate-Monster-Avatars-1459512636/original-1884141-4.jpg" alt="Tick" style="">
                  <div>

                  </div>
                </div>
                <div class="modal-footer">
                  <%= link_to "Continue", level_question_path(@level, @question), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- JavaScript for submit button  -->

<script>
  const submitWrongButton = document.querySelector(".submit-answer.wrong")
  const submitRightButton = document.querySelector(".submit-answer.right")
  const answerButtons = document.querySelectorAll(".radio-button")

  answerButtons.forEach((button) => {
    button.addEventListener("click", () => {
      if (event.currentTarget.value == "false") {
        submitRightButton.style.display = "none"
        submitWrongButton.style.display = "block"
      } else {
        submitWrongButton.style.display = "none"
        submitRightButton.style.display = "block"
      }
    })
  })
</script>








