<!-- inline css -->

<style>
body {
  background-color: #E3E8EB}
.card-dashboard {
  background-color: white;
  padding: 12px;
  margin-top: 12px;
  text-align: center; }
.container-header {
  display: flex;
  border-bottom: :1px white; }
.header {
  margin: auto;
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold; }
.container-dashboard-button {
  display: flex;
  padding: 6px;
}
section {
  background-color: #E34E53;
  background-size: 30% 100%;
}
h1 {
  color: white;
}
h2 {
  color: #282A2D;
  margin: auto;
  margin-left: 12px;
  font-size: 16px;
  font-weight: bold;}
h3 {
  color: #282A2D;
  margin: auto;
  font-size: 14px;
  font-weight: bold; }
p {
  color: #282A2D;
  margin: auto;
  font-size: 12px; }
a {
  color: #282A2D;
  margin: auto;
  font-size: 12px;
}
.money {
  color: #282A2D;
  margin: auto;
  font-size: 100px;
  font-weight: bold;
  color: black;
}
.chart-text {
  color: #282A2D;
  margin-top: 30px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: bold;
}
.chart-button {
  margin-top: 20px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #E34E53;
    z-index: -1;
}
</style>

<!-- Html -->

<div class="container-main">
  <div class="background">
  </div>
  <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><span class="avatar"></span></label>
      <h1 class ="header">Welcome <%= user.first_name %></h1>
  </div>
  <div class="background">
  </div>
    <% if wallets.empty? %>
      <div class="card-dashboard">
        <p>This is pretty empty here, let's add your first kid</p>
      </div>
    <% else %>
      <% wallets.each do |wallet| %>
        <div class="card-dashboard">
        <!-- Header Tom -->
          <div class="container-header d-flex justify-content-center">
            <div>
              <%= cl_image_tag wallet.kid.avatar, crop: :fill, class: "avatar" %>
            </div>
            <div>
              <h2><%= wallet.kid.first_name %>'s summary</h2>
            </div>
          </div>
       <!-- End Header Tom -->

      <!--  notification div -->
      <% if wallet.payout_amount != 0 %>
        <div class="payout-notification">
          <div class="card-dashboard d-flex justify-content-between">
            <div class="container-header">
              <h3><%= wallet.kid.username %> completed his exercise, it's paytime! Give <%= wallet.payout_amount %>€ to him/her. </h3>
            </div>
            <div>
              <button class= "button-red button-confirm"> CONFIRM </button>
            </div>
          </div>
        </div>
      <% end %>
      <!--  End of notification div -->

      <!-- Pocket Money div -->
          <div>
            <div class="card-dashboard d-flex align-middle justify-content-around border-top">
              <div>
                <h1 class="money"><%= wallet.total_allowance%><h1>
              </div>
              <div>
                   <h2 class="chart-text"><%= wallet.payout_frequency %></h2>
                   <% if policy(current_user).dashboard? %>
                     <div class="chart-button">
                       <%= link_to "EDIT", edit_wallet_path(wallet.id), class: "button-white" %>
                     </div>
                   <% end %>
              </div>
            </div>
      <!-- End of Pocket Money div -->


      <!--  Learning div -->

      <% unless wallet.kid.user_courses.empty? %>
        <% wallet.kid.user_courses.each do |user_course| %>
          <% unless user_course.complete? %>
            <div class="card-dashboard d-flex justify-content-around border-top">
              <div>
                 <h3 class="chart-text"><%= user_course.kid.first_name %> is currently enrolled in <%= user_course.course.name %> at level <%= user_course.last_level %></h3>
              </div>
              <div>
                 <%= image_tag 'progress.png', style:"height: 150px; width: 150px;" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <!--  End of Learning div -->

      <!--  Goal div -->

      <div class="card-dashboard d-flex justify-content-around border-top">
        <% unless wallet.goals.empty? %>
        <div>
          <%= image_tag 'progress.png', style:"height: 150px; width: 150px;" %>
        </div>
        <div>

            <h3 class="chart-text"><%= wallet.kid.first_name %> is saving <%= wallet.goals.first.goal_allowance %>$ <%= wallet.payout_frequency %> to buy a <%= wallet.goals.first.name %></h3>
        </div>
           <% end %>
        </div>
        <div class="card-dashboard d-flex justify-content-around border-top">
          <% if policy(wallet).edit? %>
            <div class="container-dashboard-button">
                <%= link_to "SEE DASHBOARD", dashboard_user_path(wallet.kid.id), class: "button-red" %>
              </div>
            <% end %>
            <% if policy(wallet.kid).destroy? %>
              <div class="container-dashboard-button">
                <%= link_to "DELETE KID", destroy_user_path(wallet.kid.id), method: :delete, class: "button-white" %>
              </div>
            <% end %>
         </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

    <div class="container-dashboard-button">
      <%= link_to "ADD NEW KID", new_user_path, class: "button-white" %>
    </div>
</div> <!-- container main closing -->


<script>
  const payoutNotification = document.querySelector(".payout-notification")
  const confirmButton = document.querySelector(".button-confirm")
  confirmButton.addEventListener("click", () => {
    console.log('test');
        payoutNotification.style.display = "none"
      }
  )
</script>

