<!-- inline css -->

<style>
body {
  background-color: #E3E8EB;}
.card-dashboard {
  background-color: white;
  border-radius: 5px;
  padding: 12px;
  margin-top: 12px;}
.container-header {
  display: flex;
  border-bottom: :1px white; }
.header {
  margin: auto;
  font-size: 20px;
  font-weight: bold; }
.container-dashboard-button {
  display: flex;
  padding: 6px;
}
section {
  background-color: #E34E53;
  background-size: 30% 100%;
}
h1 {
  color: white;
}
h2 {
  margin: auto;
  font-size: 16px;
  font-weight: bold;}
h3 {
  margin: auto;
  font-size: 14px;
  font-weight: bold; }
p {
  margin: auto;
  font-size: 12px; }
a {
  margin: auto;
  font-size: 12px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #E34E53;
    z-index: -1;
}
</style>

<!-- Html -->

<div class="container-main">
  <div class="background">
  </div>
  <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><span class="avatar"></span></label>
      <h1 class ="header">Welcome <%= user.first_name %></h1>
  </div>
      <% wallets.each do |wallet| %>
      <div class="card-dashboard">
      <!-- Header Tom -->
        <div class="container-header">
         <div class="avatar-large">
             <%= cl_image_tag wallet.kid.avatar, crop: :fill, class: "avatar-large" %>
          </div>
          <h2><%= wallet.kid.username %>'s Wallet</h2>
        </div>
      <!-- Pocket Money div -->
          <div>
             <h3>Pocket money summary</h3>
             <p>Pocket money : <%= wallet.total_allowance %>$</p>
             <p>Frequency : <%= wallet.payout_frequency %></p>
             <p>Each : <%= wallet.payout_day %></p>
             <% if policy(wallet).edit? %>
               <div class="container-dashboard-button">
                 <%= link_to "SEE #{wallet.kid.username.upcase} DASHBOARD", dashboard_user_path(wallet.kid.id), class: "button-red" %>
               </div>
             <% end %>
             <% if policy(current_user).dashboard? %>
               <div class="container-dashboard-button">
                 <%= link_to "CHANGE #{wallet.kid.username.upcase} ALLOWANCE", edit_wallet_path(wallet.id), class: "button-white" %>
               </div>
            <% end %>
              <% if policy(wallet.kid).destroy? %>
                <div class="container-dashboard-button">
                  <%= link_to "DELETE KID", destroy_user_path(wallet.kid.id), method: :delete, class: "button-white" %>
                </div>
            <% end %>
          </div>
        <!-- Goals div -->
          <div>
             <h3>Savings for goals</h3>
               <% wallet.kid.kid_wallet.goals.each do |goal| %>
                 <p>Saving for : <%= goal.name %></p>
                 <p>Goal price : <%= goal.goal_price %>$</p>
                 <p>Weekly savings : <%= goal.goal_allowance %>$</p>
                 <p>Saved so far :<%= goal.goal_current_saving %>$</p>
               <% end %>
          </div>
       <!--  Learning div -->
          <div>
             <h3>Progress summary</h3>
               <p>Enrolled : <%#= @course.name %></p>
               <p>Last Level : <%= @last_level %></p>
               <p>Last question : <%= @last_question %></p>
               <p>Last lecture : <%= @last_lecture %></p>
          </div>
      </div>
    <% end %>
    <div class="container-dashboard-button">
      <%= link_to "ADD NEW KID", new_user_path, class: "button-red" %>
    </div>
  </div>
