<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
.simple_form {
  text-align: left;
}
</style>

<!-- Html -->

<div class="container-main">

  <div class="container-header">
  <!-- Add this line if you need the menu -->
      <h1 class="header mb-3">Add new kid</h1>
  </div>

      <%= simple_form_for @user, url: create_user_path do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :username %>
        <%= f.input :avatar %>
        <%= f.input :gender %>
        <%= f.input :age %>

        <div class="container">
          <div class="row">
            <div class="col-md-6 my-2 d-flex justify-content-around">
              <%= f.button 'submit', 'ADD KID', class: "button-red" %>
              <%= link_to "BACK", dashboard_user_path(current_user), class: "button-white" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
