<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; }
p {
  font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
</style>

<!-- Html -->

<div class="container-main">

  <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><span class="avatar"></span></label>
      <h1 class ="header">Add new kid</h1>
  </div>

      <%= simple_form_for @user, url: create_user_path do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :username %>
        <%= f.input :avatar %>
        <%= f.input :gender %>
        <%= f.input :age %>
        <%= f.button 'submit', 'ADD KID', class: "button-red" %>
      <% end %>

  </div>
