<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px; }
p {
  font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
</style>

<!-- Html -->
<div class="container-devise">

<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "RESET PASSWORD INSTRUCTIONS", class: "button-red" %>
  </div>
<% end %>

<div class="sharedlinks">
    <%= render "devise/shared/links" %>
</div>

</div>
