<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
h2 {
  text-align: center;
}
p {
  font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
.simple_form {
  text-align: left;
}
</style>

<!-- Html -->
<div class="container-devise">

<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-6 my-2 d-flex justify-content-around">
      <div class="form-actions">
        <%= f.button :submit, "RESET", class: "button-red" %>
      </div>
    <%= render "devise/shared/links" %>
<% end %>
      </div>
      <%= link_to "BACK", root_path, class: "button-white" %>
    </div>
  </div>

</div>
