<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; }
p {
  font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
</style>

<!-- Html -->

<div class="container-main">

  <div class="container-header">
  <!-- Add this line if you need the menu -->
     <!-- <label for="offcanvas" class="toggler"><span class="avatar"></span></label> -->
      <h1 class ="header">Set Pocket Money</h1>
  </div>

      <%= simple_form_for @wallet do |f| %>
      <%= f.input :total_allowance, label: "Allowance" %>
      <%= f.input :payout_frequency, label: "Frequency", collection: [ "Weekly", "Biweekly", "Monthly"] %>
      <%= f.input :payout_day, collection: [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
      <%= f.button 'submit', 'SAVE', class: "button-red"%>
      <% end %>
</div>
