<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
p {
  font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
.simple_form {
    text-align : left;
}
.header {
  text-align: center;
}
</style>

<!-- Html -->

<div class="container-main">

  <div class="container-header">
  <!-- Add this line if you need the menu -->
     <!-- <label for="offcanvas" class="toggler"><span class="avatar"></span></label> -->
      <h1 class ="header mb-3">Set Pocket Money</h1>
  </div>
  <%= simple_form_for @wallet do |f| %>
    <%= f.input :total_allowance, label: "Allowance" %>
    <%= f.input :payout_frequency, label: "Frequency", collection: [ "Weekly", "Biweekly", "Monthly"] %>
    <%= f.input :payout_day, collection: [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-2 d-flex justify-content-around">
          <%= f.button 'submit', 'SAVE', class: "button-red"%>
          <%= link_to "BACK", dashboard_user_path(current_user), class: "button-white" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
