<h1>Wallets#edit</h1>
<p>Find me in app/views/wallets/edit.html.erb</p>


<p>Set regular allowance</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= simple_form_for @wallet do |f| %>
      <%= f.input :total_allowance %>
      <%= f.input :payout_frequency %>
      <%= f.input :payout_day %>
      <%= f.button 'submit' %>
      <% end %>
    </div>
  </div>
</div>
