<!-- inline css -->

<style>
body {
  background-color: #F8CE69;}
.card-dashboard {
  background-color: white;
  border-radius: 5px;
  padding: 12px;
  margin-top: 12px;
  text-align: center; }
.container-header {
  display: flex;
  border-bottom: :1px white; }
.header {
  margin: auto;
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold; }
.container-dashboard-button {
  display: flex;
  padding: 6px;
}
section {
  background-color: #E34E53;
  background-size: 30% 100%;
}
h1 {
  color: white;
}
h2 {
  margin: auto;
  margin-left: 12px;
  font-size: 16px;
  font-weight: bold;}
h3 {
  margin: auto;
  font-size: 14px;
  font-weight: bold; }
p {
  margin: auto;
  font-size: 12px; }
a {
  margin: auto;
  font-size: 12px;
}
</style>

<div class="container-main">
   <div class="container-header">
  <!-- Add this line if you need the menu -->
    <label for="offcanvas" class="toggler"><%= cl_image_tag current_user.avatar, crop: :fill, for: "offcanvas", class: "avatar" %></label>
      <h1 class ="header"><%= @course.name  %></h1>
   </div>


<div class="card-course d-flex flex-column">
   <div class="row">
      <div class="col-6">
        <%= cl_image_tag @course.picture, width: 150, height: 150, crop: :fill %>
      </div>
        <div class="col mt-5">
           <!-- button displays start if there is no user course table yet (if kid hasn't started course, otherwise it shows resulme  -->
            <% if @user_course && @course.user_courses.where(kid: current_user).first.complete %>
                <div class="p-2">
                  <%= link_to "START OVER", level_question_path(@level_current, @question_current), class: 'button-red' %>
                </div>
                  <% elsif @course.user_courses.where(kid: current_user).first %>
                <div class="p-2">
                    <%= link_to "RESUME", level_question_path(@level_current, @question_current), class: 'button-red' %>
                </div>
                <% else  %>
                <div class="p-2">
                  <%= link_to "ENROLL", course_user_courses_path(@course), method: :post, class: 'button-red' %>
                </div>
            <% end  %>
                <div class="p-2">
                  <p>currently at level <%= @level_current %>, question <%= @question_current %></p>
                </div>
         </div>
    </div>






  <div class="p-2">
    <h3>Levels:</h3>
  </div>


    <% if @user_course %>
      <% @levels.each do |level| %>
        <!-- if user has completed the course already he can visit all levels all questions all lectures -->
        <% if @user_course.complete %>
          <div class="p-1 border-top">
            <%= link_to level.name, level_path(level) %>
          </div>
        <!-- if not then check if level has already been started by user, if not disable button -->
        <% elsif level.number > @user_course.last_level %>
          <div class="p-1 border-top">
            <%= link_to level.name, level_path(level), style: "color: grey" %>
          </div>
        <% else %>
          <!--   if yes, then enable button -->
          <div class="p-1 border-top">
            <%= link_to level.name, level_path(level) %>
          </div>
        <% end %>
      <% end %>


    <% else %>
      <% @levels.each do |level| %>
        <div class="p-2">
          <%= link_to level.name, level_path(level), class: 'btn button-white disabled', style: 'color: grey' %>
        </div>
      <% end %>
    <% end %>
</div>
</div>
