<h3>COURSE: <%= @course.name  %></h2>
  <!-- button displays start if there is no user course table yet (if kid hasn't started course, otherwise it shows resulme  -->
<% if @course.user_course  %>
<%= link_to "Resume", level_question_path(@level_current, @question_current), class: 'btn-primary' %>
<% else  %>
<%= link_to "Start", course_user_courses_path(@course), method: :post %>
<% end  %>
<br>
currently at level <%= @level_current %>, question <%= @question_current.number %>
<br>

<h3>Levels:</h3>

<% @levels.each do |level| %>
<btn class="btn btn-primary"><%= level.name %></btn>
<%= link_to "view", level_path(level), class: 'btn-ghost' %>
<br>
<% end %>
