<!-- inline css -->

<style>
body {
  background-color: #E3E8EB;
}
.header {
  color: #505050;
}
.level-description {
  padding:12px;
}
</style>

<!-- end inline css -->

<div class="container-main">

       <!-- Add these lines if you need the back button menu -->
    <div class="container-header">
      <div class="header-back">
        <button class="back-button" onclick="window.history.back()">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
        <div class="header-text">
          <h1 class ="header"><%= @course.name  %></h1>
        </div>
        <div class="header-avatar">
          <label for="offcanvas" class="toggler"><%= cl_image_tag current_user.avatar, crop: :fill, for: "offcanvas", class: "avatar" %></label>
        </div>
  </div>

   <!-- End menu -->

  <div class="card-course d-flex flex-column">
    <div>
       <%= cl_image_tag @course.picture, width: 100, height: 200, crop: :fill %>
    </div>

    <div style="display: flex;width: 100%;justify-content: space-around;align-items: center; margin-top: 20px;">
      <div class="p-2" style="padding-left: 0.8rem !important">
        <p> LEVEL <%= @level.number %>: <%= @level.name.upcase %></p>
      </div>
    </div>

      <div class="level-description">
          <p>HTML is the foundation of all web pages. Without it, you wouldn’t be able to organize text or add images or videos to your web pages. HTML is the beginning of everything you need to know to create engaging web pages!</p>
      </div>
    <div class="p-1 d-flex justify-content-around" style="margin: 1rem !important;">
    <%= link_to "LECTURE", level_lecture_path(@level, @level.lectures.first), class: 'btn button-red button-level' %>
    <!-- user should only be able to practice once lectures complete (or level or course complete) -->
    <% if @lectures_complete  %>
      <%= link_to "PRACTICE", level_question_path(@level, @level.questions.first), class: "btn button-red button-level" %>
    <% else %>
      <a href="#" class="btn button-red disabled" style="color: grey;"  role="button" aria-disabled="true">PRACTICE</a>
    <% end %>
  </div>

</div>




