<!-- inline css -->

<style>
body {
  background-color: #E3E8EB;
}
.header {
  color: #505050;
}
</style>

<!-- end inline css -->

<div class="container-main">
  <div class="container-header">
  <!-- Add this line if you need the menu -->
    <label for="offcanvas" class="toggler"><%= cl_image_tag current_user.avatar, crop: :fill, for: "offcanvas", class: "avatar" %></label>
    <h1 class ="header"><%= @course.name %></h1>
  </div>
  <div class="card-course d-flex flex-column">
    <div class="p-2">
       <%= cl_image_tag @course.picture, width: 350, height: 350, crop: :fill %>
    </div>
      Level <%= @level.number %>
    <div class="p-2">
      <%= @level.name %>
    </div>
    <div class="p-2">
    <%= link_to "Lecture", level_lecture_path(@level, @level.lectures.first), class: 'btn button-white' %>
    <!-- user should only be able to practice once lectures complete (or level or course complete) -->
    <% if @lectures_complete  %>
      <%= link_to "Practice", level_question_path(@level, @level.questions.first), class: "btn button-white" %>
    <% else %>
      <a href="#" class="btn button-white disabled" style="color: grey"  role="button" aria-disabled="true">Practice</a>
    <% end %>
  </div>

</div>




