<h3>Level show page</h3>
Course: <%= @course.name %>
<br>

Level <%= @level.number %>
<br>
<%= @level.name %>
<br>
<%= link_to "Lecture", level_lecture_path(@level, @level.lectures.first), class: 'btn-primary' %>
<!-- user should only be able to practice once lecture is complete (if level.last complete logic) -->
<%= link_to "Practice", level_question_path(@level, @level.questions.first), class: 'btn-primary' %>
