<!-- inline css -->

<style>
body {
  background-color: #E3E8EB;
}
.header {
  color: #505050;
}
</style>

<!-- end inline css -->

<div class="container-main">
     <!-- Add these lines if you need the back button menu -->
    <div class="container-header">
      <div class="header-back">
        <button onclick="window.history.back()">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
      <div class="user-info d-flex">
        <div class="header-text">
          <h1 class ="header"><%= @level.name  %></h1>
        </div>
        <div class="header-avatar">
          <label for="offcanvas" class="toggler"><%= cl_image_tag current_user.avatar, crop: :fill, for: "offcanvas", class: "avatar" %></label>
        </div>
      </div>
  </div>
   <!-- End menu -->

  <div class="card-course d-flex flex-column">
    <div class="p-2">
       <%= cl_image_tag @course.picture, width: 350, height: 350, crop: :fill %>
    </div>
      Level <%= @level.number %>
    <div class="p-2">
      <%= @level.name %>
    </div>
    <div class="p-2">
    <%= link_to "Lecture", level_lecture_path(@level, @level.lectures.first), class: 'btn button-white' %>
    <!-- user should only be able to practice once lectures complete (or level or course complete) -->
    <% if @lectures_complete  %>
      <%= link_to "Practice", level_question_path(@level, @level.questions.first), class: "btn button-white" %>
    <% else %>
      <a href="#" class="btn button-white disabled" style="color: grey"  role="button" aria-disabled="true">Practice</a>
    <% end %>
  </div>

</div>




