<!-- inline css -->

<style>
body {
  background-color: #F8CE69;}
</style>

<!-- end of inline css -->

<div class="container">
   <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><%= cl_image_tag current_user.avatar, crop: :fill, for: "offcanvas", class: "avatar" %></label>
      <h1 class ="header">Courses</h1>
   </div>

      <% @courses.each do |course| %>
      <div class="card-learning d-flex flex-column">
        <div class="p-2">
          <%= cl_image_tag course.picture, width: 350, height: 350, crop: :fill %>
        </div>
         <div class="p-2">
             <h2><%= course.name %></h2>
        </div>
       <div class="p-2">
            <p><%= course.description %></p>
        </div>
         <div class="mb-4">
             <%= link_to "LEARN", course_levels_path(course), class: 'button-white' %>
        </div>
      </div>
      <br>
      <% end %>
  </div>
