<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px; }
p {
  font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
.form-control-file, .form-control-range {
  display: none;
  width: 100%;
}
picture {
  position: relative;
}
.edit-picture-container label{
  background: #FFFFFF;
  padding: 15px;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  position: absolute;
  bottom: 107px;
  left: 121px;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Edit your goal</h1>
        <%= simple_form_for @goal do |f| %>
        <picture class="edit-picture-container">
          <%= cl_image_tag @goal.picture, height: 250, width: 300, crop: :fill %></br>
            <%= f.input :picture, label: 'Edit' %>
        </picture>
        <%= f.input :name, label: 'Goal name', error: 'Goal name is mandatory, please specify one', placeholder: 'New bike' %>
        <%= f.input :goal_price, label: 'Goal amount', error: 'Goal amount is mandatory, please specify one', placeholder: '60' %>
        <%= f.input :goal_allowance, label: 'Weekly saving', error: 'Weekly saving is mandatory, please specify one', placeholder: '15'  %>
        <div class="container">
          <div class="row">
            <div class="col-md-6 my-2 d-flex justify-content-around">
              <%= f.submit "Save", class: "button-red" %>
              <% end %>
              <%= link_to "BACK", dashboard_user_path(current_user), class: "button-white" %>
              <%= link_to "DELETE", goal_path(@goal.id), method: :delete, class: "button-white", data: { confirm: "Are you sure you want to delete this goal?"} %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
