
<!-- inline css -->

<style>
body {
  background-color: #88CF8F;}
.container-dashboard-button {
  display: flex;
  padding: 6px;
}


</style>

<div class="container-main">
   <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><span class="avatar"></span></label>
      <h1 class ="header">Your goals</h1>
   </div>

    <% if @goals.empty? %>

    <div class="card-goal d-flex flex-column">
        <div class="p-2">
          You have no goals it's tiome to start saving for your dream bike :)
        </div>
    </div>

    <% else %>
      <% @goals.each do |goal| %>

        <div class="card-goal d-flex flex-column">
            <div class="">
              <%= cl_image_tag goal.picture, height: 250, width: 314, crop: :fill %>
            </div>
            <div class="p-2">
              <h2><%= goal.name %></h2>
            </div>
              <% if goal.complete? %>
                <div class="p-2">
                  <p>You've reached your target for this goal already congratulation !!! You saved a total of <%= goal.goal_current_saving %></p>
                 </div>
              <% else %>
                 <div class="p-2 ml-3 mr-3">
                   <p>You are saving <%= goal.goal_allowance %>$ weekly. Right now you have saved <%= goal.goal_current_saving %>$ for a target of <%= goal.goal_price %>$</p>
                 </div>
                 <div class="mb-4">
                  <%= link_to 'EDIT', edit_goal_path(goal.id), class: "button-white"%></a></br>
                 </div>
              <% end %>
            </div>
        <% end %>

      <% end %>


  <div class="container-dashboard-button">
      <%= link_to 'ADD NEW GOAL', new_wallet_goal_path, class: "button-red"%>
    </div>
</div>
