<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Create your goal</h1>
          <%= simple_form_for [@wallet, @goal] do |f| %>
          <%= f.input :name %>
          <%= f.input :goal_allowance %>
          <%= f.input :goal_price %>
          <%= f.input :picture %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
        <%= link_to "Back to goals", wallet_goals_path(@wallet), class: "btn btn-danger" %>
    </div>
  </div>
</div>



