<!-- inline css -->

<style>
body {
  background-color: #D4A2E3;
  color: white; }
h1 {
  text-align: center;
}
p {
  font-size: 20px
  padding: 20px; }
a {
  font-size: 16px;
  color: white; }
.simple_form {
  text-align: left;
}
.form-control-file {
  display: none;
}
</style>


<div class="container-main">
  <!-- Add this line if you need the menu -->
      <h1>New Goal</h1>
   </div>

          <%= simple_form_for [@wallet, @goal] do |f| %>
          <%= f.input :name %>
          <%= f.input :goal_allowance %>
          <%= f.input :goal_price %>
          <%= f.input :picture, label: "Add a picture" %>
   <div class="container">
     <div class="row">
       <div class="col-md-6 my-2 d-flex justify-content-around">
          <%= f.submit "SAVE", class: "button-red" %>
          <% end %>
          <%= link_to "BACK", dashboard_user_path(current_user), class: "button-white" %>
       </div>
     </div>
   </div>
</div>



