<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <title>PocketWise</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%#= javascript_pack_tag "easypiechart" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <%= render 'shared/offcanvasnavigation' %>
      <div class="section">
        <div class="container mt-2">
           <label for="offcanvas" class="biglabel"></label>
          <%= yield %>
        </div>
      </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
